#main-title {
    color: #ffffff;
    font-family: Garamond;
    font-size: 10rem;
    max-width: 5rem;
    margin: .25em;
    line-height: .75em;
    filter: drop-shadow(10px 10px 1rem rgb(244, 251, 252));
    cursor: default;
    align-self: flex-start;
    flex-shrink: 1;
}

.section-title {
    color: rgb(35, 84, 89);
    font-family: Garamond;
    font-size: 10rem;

}