/*register*/
form.register {
    padding-top: 2em;
    min-height: 85vh;
}

/*search*/
section.search {
    min-height: 85vh;
}

section.search > .intro__text {
    min-height: 85vh;
    backdrop-filter: blur(1em);
}

section.search form {
    min-width: 60vw;
    position: relative;
}

.search-box > section {
    width: 100%;
}

.search-box > section > button{
    position: absolute;
    z-index: 2;
    padding: unset;
    width: 20%;
    height: 2.5em;
    border: none;
    font-size: 1.25em;
}
.search-box > section > button{
    float: right;
    border-radius: 0 1em 1em 0;
    background-color: olivedrab;
    color: #fff;
}

.search-box > section > select{
    position: absolute;
    font-size: 1.25em;
    height: 2.5em;
    border: none;
    background-color: transparent;
    /*top: 50%;*/
    /*margin-top: -1em;*/
    margin-left: -4em;
    z-index: 4;
}
.search-box > section > button:hover {
    transform: none;
    background-color: #7da629;
}

.search-box > section > input {
    width: 80%;
    height: 2.5em;
    border: olivedrab 4px solid;
    color: darkolivegreen;
    font-size: 1.25em;
    line-height: 1em;
    padding-left: 1em;
    border-radius: 1em 0 0 1em;
    border-right: none;
    margin-right: 0;
}

/*items*/
h1.items {
    padding-top: 2em;
}

main.items {
    padding: 2em 0;
    min-height: 70vh;
}

main.items > h2 {
    text-align: center;
    margin: 1em;
}

main.items>p{
    text-align: center;
}

label[for=style]{
    display: block;
    text-align: right;
    margin-right: 10vw;
}

main.items > article {
    width: 80vw;
    margin: 2em auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

main.items > article > a {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1em;
    cursor: pointer;
    overflow: hidden;
}

main.items > article > a>figure > img {
    height: 400px;
    width: 60%;
    float: left;
    object-fit: cover;
}

main.items > article > a>figure > figcaption {
    box-sizing: border-box;
    padding: 1em;
    width: 40%;
    float: right;
    max-height: 400px;
    overflow: hidden;
}

/*upload*/
.upload h1 {
    text-align: center;
    padding-top: 2.5em
}

form.upload{
    padding-left: 20%;
    padding-right: 20%;

}

.upload section{
    display: inline-block;
}
.upload input[type=number],.upload input[name=height],.upload input[name=width]{
    width: 7em;
}
@media (max-width: 900px) {
    .upload section{
        display: block;
        text-align: center;
    }

}

.upload label[for=picfile]>img{
    transition: .2s;
}

.upload label[for=picfile]>img:hover{
    filter: brightness(1.05);
}
.upload input[type=file]{
    margin-left: 130px;
}