<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Line Art</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<nav>
    <img src="../shared/icons/icon-hamburger.svg" alt="hamburger" class="__hamburger --display">
    <ul class="__menu">
        <li><a href="index.html">home</a></li>
        <li><a href="search.html">search</a></li>
        <li><a href="#">items</a></li>
        <li><a class="login">login</a></li>
        <li><a href="register.html">register</a></li>
        <li><span class="__close">cancel</span></li>
    </ul>
</nav>
<main class="detail">
    <h2>
        latest
    </h2>
    <div class="detail__img-wrapper">
        <img src="../shared/img/876_1169.jpg" alt="">
    </div>
    <div class="detail__description">
        <h4>
            title
        </h4>
        <p>
            author,price,upload (time).
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet beatae, consequuntur deleniti
            dignissimos ea, earum et exercitationem fugit illo laboriosam magnam maiores modi molestiae odio quidem,
            quisquam repellendus voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta distinctio dolore eligendi excepturi
            iusto laboriosam laborum numquam tempore, temporibus? Aliquam eum fugit magni molestiae pariatur quaerat
            quisquam quod vero!
        </p>
    </div>
</main>
<footer>
    <small>
        Copyright © 2020-2024<br>
        <strong>Line Art</strong><br>
        All Rights Reserved.
    </small>
</footer>
</body>
</html>