<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Searching...</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<nav>
    <img src="../shared/icons/icon-hamburger.svg" alt="hamburger" class="__hamburger --display">
    <img src="../shared/icons/icon-close.svg" alt="close" class="__close">
    <ul class="__menu">
        <li class="__self">
            <a href="myspace.html" class="__avatar"></a>
            <a href="myspace.html" class="__username">username</a>
        </li>
        <li class="__home"><a href="index.html" >home</a></li>
        <li class="__search"><a href="search.html" >search</a></li>
        <li class="__items"><a href="items.html" >items</a></li>
        <li class="__login"><span >login</span></li>
        <li class="__register"><a href="register.html" >register</a></li>
        <li class="__cart"><a href="cart.html" >cart</a></li>
        <li class="__upload"><a href="upload.php" >upload</a></li>
        <li class="__logout"><span >logout</span></li>
    </ul>
</nav>
<section class="__intro search">
    <div class="triangle widget"></div>
    <div class="circle widget"></div>
    <div class="square widget"></div>
    <div class="intro__text">
        <h1 class="intro__title">
            Line Art.
        </h1>
        <form class="search-box">
            <section>
                <input type="text" name="search" id="search" maxlength="100">
                <select name="range" id="range">
                    <option value="title" selected>Title</option>
                    <option value="artist">Artist</option>
                </select>
                <button type="button">GO!</button>
            </section>
        </form>
    </div>
</section>
<footer>
    <small>
        Copyright © 2020-2024<br>
        <strong>Line Art</strong><br>
        All Rights Reserved.
    </small>
</footer>
<!--dialog boxes-->
<div class="dialog-wrapper">
    <div class="dialog">
        <form action="" method="post" name="login">
            <fieldset>
                <legend><span>LOGIN</span></legend>
                <section>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="your username here">
                </section>
                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="your password here">
                </section>
                <section>
                    <input type="button" value="login!" class="button --success" name="submit">
                    <input type="button" value="cancel" class="button __close">
                </section>
                <section>
                    <a href="register.html" class="--alternative">Not registered yet? Get an account now!</a>
                </section>
            </fieldset>
        </form>
    </div>
</div>
<div class="notice">sample</div>
<script src="js/cookie.js"></script>
<script src="js/form.js"></script>
<script src="js/navigator.js"></script>
<script src="js/search-page.js"></script>
</body>
</html>