<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Line Art - register</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<nav>
    <img src="../shared/icons/icon-hamburger.svg" alt="hamburger" class="__hamburger --display">
    <img src="../shared/icons/icon-close.svg" alt="close" class="__close">
    <ul class="__menu">
        <li class="__self">
            <a href="myspace.html" class="__avatar"></a>
            <a href="myspace.html" class="__username">username</a>
        </li>
        <li class="__home"><a href="index.html" >home</a></li>
        <li class="__search"><a href="search.html" >search</a></li>
        <li class="__items"><a href="items.html" >items</a></li>
        <li class="__login"><span >login</span></li>
        <li class="__register"><a href="register.html" >register</a></li>
        <li class="__cart"><a href="cart.html" >cart</a></li>
        <li class="__upload"><a href="upload.html" >upload</a></li>
        <li class="__logout"><span >logout</span></li>
    </ul>
</nav>
<form method="post" class="register">
    <fieldset>
        <legend><span>UPLOAD</span></legend>
        <section>
            <label for="username-register">Username<span class="__star">*</span></label>
            <input type="text" name="username" id="username-register" placeholder="your username here"
                   required pattern="[\w-]+" maxlength="16">
            <p class="__message"></p>
            <p class="__tips">less than 17 characters;<br> containing only letters, numbers, "_" and "-".</p>

        </section>
        <section>
            <label for="password-register">Password<span class="__star">*</span></label>
            <input type="password" name="password" id="password-register" placeholder="your password here"
                   required pattern="[.\w-]+" minlength="6" maxlength="20">
            <p class="__message"></p>
            <p class="__tips">6-20 characters;<br> containing only letters, numbers, "_", "-" and ".";
                <br>Pure number serials are not allowed.
            </p>
        </section>
        <section>
            <label for="confirmed-password">Confirm<span class="__star">*</span></label>
            <input type="password" name="confirmed-password" id="confirmed-password"
                   placeholder="confirmed password here" required>
            <p class="__message"></p>
        </section>
        <section>
            <label for="email">Email<span class="__star">*</span></label>
            <input type="email" name="email" id="email" placeholder="your email here" required
                   pattern="[\w-]+@[\w-]+\.[\w-]+" maxlength="50">
            <p class="__message"></p>
        </section>
        <section>
            <label for="phone">Phone<span class="__star">*</span></label>
            <input type="tel" name="phone" id="phone" placeholder="your phone number here" required
                   pattern="\d+" maxlength="11" minlength="11">
            <p class="__message"></p>
        </section>
        <section>
            <label for="address">Address<span class="__star">*</span></label>
            <input type="text" name="address" id="address" placeholder="your address here" required>
            <p class="__message"></p>
        </section>
        <section>
            <button type="button" value="submit" class="--success">submit</button>
        </section>
    </fieldset>
</form>
<footer>
    <small>
        Copyright © 2020-2024<br>
        <strong>Line Art</strong><br>
        All Rights Reserved.
    </small>
</footer>
<!--dialog boxes-->
<div class="dialog-wrapper">
    <div class="dialog">
        <form action="" method="post" name="login">
            <fieldset>
                <legend><span>LOGIN</span></legend>
                <section>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="your username here">
                </section>
                <section>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="your password here">
                </section>
                <section>
                    <input type="button" value="login!" class="button --success" name="submit">
                    <input type="button" value="cancel" class="button __close">
                </section>
                <section>
                    <a href="register.html" class="--alternative">Not registered yet? Get an account now!</a>
                </section>
            </fieldset>
        </form>
    </div>
</div>
<div class="notice">sample</div>
<script src="js/cookie.js"></script>
<script src="js/form.js"></script>
<script src="js/navigator.js"></script>
<script src="js/upload.js"></script>
</body>
</html>