.dialog-wrapper {
    position: fixed;
    z-index: 5;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dialog-wrapper.--display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic", sans-serif;
    font-weight: 700;
    transition: .1s ease-in-out;
}

.dialog{
    background-color: #fff;
    color: #0a4d4b;
    border: 3px solid #1e6dbf;
}

label:hover{
    cursor: pointer;
}

form>fieldset{
    border: none;
    padding: 1em;
}

form>fieldset>section{
    padding: 1em;
    text-align: center;
    transition: .1s ease-in-out;
}

form>fieldset>legend{
    font-size: 2em;
    text-align: center;
    color: cadetblue;
    padding-top: 1em;
}

input,textarea{
    border: 2px dashed #7dbbaa;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    padding: .3em;
    transition: .1s ease-in-out;
    outline: none;
    color: #1b7c79;
    margin-right: .5em;
    vertical-align: middle;
}
select{
    border: 2px solid #7dbbaa;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    padding: .3em;
    transition: .1s ease-in-out;
    outline: none;
    color: #1b7c79;
    margin-right: .5em;
    vertical-align: middle;
}

select:hover{
    cursor: pointer;
}
input::placeholder,textarea::placeholder{
    color: #91a6a5;
    font-weight: 700;
}

input[type=file]{
    border: none;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
    border-color: #7dbbaa;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    padding: .3em;
    transition: .1s ease-in-out;
    outline: none;
    color: #1b7c79;
    margin-right: .5em;
    vertical-align: middle;
}

form a{
    font-size: .9em;
    cursor: pointer;
}
form .--alternative{
    color: #999;

}
form .__tips{
    color: #999;
    font-size: .75em;
    margin: 2px;
}

form .__star{
    color: #cb3700;
}

form .__message{
    font-family: "Dubai", serif;
    font-size: .9em;
    display: inline-block;
    position: absolute;
    text-align: left;
}

form .__message.--fail{
    color: #cb3700;
}