/*nav*/
nav {
    position: absolute;
    z-index: 4;
    right: 0;
    width: 4em;
    height: 4em;
    background: linear-gradient(45deg, lightblue, #1e6dbf 50%, white 50%, white);
}

nav > .__hamburger {
    display: none;
    position: absolute;
    z-index: 5;
    right: .7em;
    top: .7em;
    cursor: pointer;
}

nav > .--display {
    display: inline-block;
}

nav > .__menu {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1em);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 5em;
    transition: .2s ease-in-out;
    display: none;
}

nav>.__menu.--display{
    display: block;
}

.__menu > li > * {
    display: block;
    position: relative;
    color: #1e6dbf;
    margin: 1em;
    font-size: 2em;
    font-family: "Segoe Script", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.__menu > li > span {
    color: #777;
}

@media (min-width: 50em) {
    nav {
        position: fixed;
        background: unset;
        height: 3em;
        width: 100%;

    }

    nav.--background {
        background-color: rgba(30, 109, 191, .7);
        backdrop-filter: blur(1em);

    }

    nav.--background .__menu > li > * {
        color: gold;
    }

    nav > .__menu {
        all: unset;
        display: flex;
        justify-content: center;
        margin-top: .5em;
    }

    .__menu > li > * {
        all: unset;
        position: relative;
        padding-top: .5em;
        color: #1e6dbf;
        margin: .75em;
        font-size: 1.5em;
        font-family: 'Century Gothic', sans-serif;
        font-weight: 700;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    .__menu > li:hover {
        transform: rotate(10deg);
        transition: .2s ease-in-out;
    }

    .__menu > li > span {
        display: none;
    }

    nav > .__hamburger.--display {
        display: none;
    }
}
