/*nav*/
nav {
    position: absolute;
    z-index: 4;
    right: 0;
    width: 4em;
    height: 4em;
    background: linear-gradient(45deg, lightblue, #1e6dbf 50%, white 50%, white);
}

nav > .__hamburger, nav > .__close {
    display: none;
    position: absolute;
    z-index: 5;
    right: .7em;
    top: .7em;
    cursor: pointer;
}

nav > .__hamburger.--display, nav > .__close.--display {
    display: inline-block;
}

nav > .--display {
    display: inline-block;
}

nav > .__menu {
    position: fixed;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(1em);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-top: 5em;
    transition: .2s ease-in-out;
    display: none;
}

nav > .__menu.--display {
    display: block;
}

.__menu > li > * {
    display: block;
    position: relative;
    color: #1e6dbf;
    margin: .75em;
    font-size: 1.75em;
    font-family: "Segoe Script", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

nav>.__menu>.__logout>span {
    color: #777;
}

.__menu > .__self {
    display: inline-block;
    transition: .2s ease-in-out;
}

.__menu > .__self > a.__avatar {
    display: inline-block;
    transition: .2s ease-in-out;
    background-color: #fff;
    background-image: url('../../../shared/img/P04160_10_o.jpg');
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 0;
    border-radius: 50%;
    border: 5px solid #fff;
    filter: drop-shadow(2px 2px 2px #999);
}

.__menu > .__self > a.__avatar:hover {
    transform: scale(1.1);
}

.__menu > .__self > .__username {
    transition: .2s ease-in-out;
    font-family: "Lucida Sans Typewriter", serif;
    font-weight: 400;
    color: #000;
}

.__menu > .__self > .__username:hover {
    color: #333;
    transform: scale(1.1);
}

@media (min-width: 900px) {
    nav {
        position: fixed;
        background: unset;
        height: 3em;
        width: 100%;
        transition: .3s ease-in-out;
    }

    nav.--background {
        background-color: rgba(30, 109, 191, .7);
        backdrop-filter: blur(1em);
    }

    nav.--background .__menu > li > * {
        color: gold;
    }

    nav > .__menu {
        all: unset;
        display: flex;
        justify-content: center;
        margin-top: .5em;
    }

    .__menu > li > * {
        all: unset;
        position: relative;
        padding-top: .5em;
        color: #1e6dbf;
        margin: .75em;
        font-size: 1.5em;
        font-family: 'Century Gothic', sans-serif;
        font-weight: 700;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    nav .--selected {
        filter: brightness(1.5) drop-shadow(0 0 3px lightgoldenrodyellow);
    }

    .__menu > li:hover {
        transform: rotate(10deg);
        transition: .2s ease-in-out;
    }
    nav .--selected:hover{
        transform: none;
    }
    nav > .__hamburger.--display {
        display: none;
    }

    .__menu > .__self {
        display: block;
        transition: .2s ease-in-out;
    }

    .__menu > .__self > a.__avatar {
        position: absolute;
        padding: 0;
        right: -20px;
        top: -20px;
    }

    .__menu > .__self:hover {
        transform: none;
    }

    .__menu > .__self > a.__avatar:hover {
        transform: rotate(10deg);
        position: absolute;
    }

    .__menu > .__self > a.__username {
        display: none;
    }
}
